body {
  font-family: Microsoft YaHei UI;
  background-color: #f8f9fa;
  margin: 0;
}

.background {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

.sideMenu,
.content {
  flex: 1;
}

.sideMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 230px;
  background-color: #e9ecef;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}
